#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}
body {
	text-align: center;
	background-color: gray;  
}

 #Scarlett {
border: black 5px solid;
}
 
 #Scarlett_Thumbs {
display: none; /* hides content */
border: black 5px solid;
}
 #leilani_b {
border: black 5px solid;
}
 
 #leilani_a {
display: none; /* hides content */
border: black 5px solid;
}
.choices {
cursor: pointer;
}

